<!DOCTYPE HTML>
<html lang="zh-cmn-Hans" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Visites View</title>
    <!--script type="application/javascript" src="bootstrap.min.js"></script>
    <link type="text/css" media="all" href="bootstrap.css" rel="stylesheet" /-->
    <style>
       html{
           font-family: sans-serif;
           line-height: 1.1;
           font-size: 10px;
           -webkit-text-size-adjust: 100%;
           -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
       }
       #watermark p {
           position: absolute;
           bottom: 0;
           opacity: 0.3;
           line-height: 5;
           left: 0;
           color: yellow;
           font-size: 10px;
           pointer-events: none;
           transform: rotate(45deg);
           -moz-transform: rotate(-45deg);
       }
       tr:not(:first-child) td {
           padding-top: 2px;
       }
    </style>
</head>
<body>

<div  th:with="typeVehicule=${v.carteGrise.produit.categorieVehicule.type}">
    <div>

    </div>
    <table th:if="${!v.process.status}" style ="width: 100%; ">
        <tr>
            <td align="left" style="width: 45% ">
                <p>
                        REPUBLIQUE DU CAMEROUN <br/>
                        PAIX - TRAVAIL - PATRIE <br/>
                        MINISTERE DES TRANSPORTS <br/>
                        SECRETARIAT GENERAL <br/>
                        DIRECTION DES TRANSPORTS ROUTIERS <br/>
                </p>
            </td>
            <td align="center" style="height:5%; width: 10%">
                <div >
                    <img style="height:100px; width: 100px;" th:src="@{classpath:static/images/armoirie.PNG}"  alt="Armoirie du Cameroun"/>
                </div>
            </td>
            <td align="right" style="width: 45%">
                <p >
                    REPUBLIC OF CAMEROON <br/>
                    PEACE - WORK - FATHERLAND <br/>
                    MINISTRY OF TRANSPORT <br/>
                    GENERAL SECRETARIAT <br/>
                    DEPARTMENT OF ROAD TRANSPORT<br/>
                </p>
            </td>
        </tr>
        <tr>
            <td align="center" colspan="3" style="height:15px" >
                <span style="font-weight: bold">
                    PROCES VERBAL DE CONTROLE TECHNIQUE DE VEHICULE <br/>
                    ROADWORTHINESS REPORT <br/>
                </span>
            </td>
        </tr>
    </table>

    <table cellspacing="7" th:style="${v.process.status} ? 'margin-top: 100px; width: 100%; ' : ' width: 100%; '">
        <tr>
            <td  style="width:50%; ">
                <table style="width:100%;">
                    <tr>
                        <td style="width:65%; padding: 0px">
                            <span>
                                N° PV/ SHEET N° :
                            </span>
                            <span style="color: gray;" th:utext="${v.process.reference}"></span> <br/>
                            <span>
                                Date du contrôle / Date of control :
                            </span>
                            <span style="color: gray; font-size: 9px" th:text="${#dates.format(v.getDateDebut(), 'dd-MM-yyyy')}">
                            </span>
                        </td>
                        <td style="width:35%;padding: 0px">
                            <img alt="QRcode" th:src="@{'http://localhost:8080/visites/qrcode/' +${v.idVisite}}" style="float: right;
                                                                                                                   display: block;
                                                                                                                  width: 20%;
                                                                                                                    padding: 0px"/>
                        </td>
                    </tr>
                </table>

            </td>

            <td style="width:50%;">
                <div>
                    <span class="text-left font-weight-bold">
                        Type de contrôle / Control type :
                    </span>
                            <span style="color: gray;" th:utext="${v.contreVisite} ? 'Contre Visite': 'Contrôle initial'"></span> <br/>
                            <span class="text-left font-weight-bold">
                        Catégorie / Category:
                    </span>
                    <span style="color: gray;" th:utext="${v.carteGrise.produit.description}"></span> <br/><br/>
                </div>
            </td>
        </tr>
        <tr style="margin-top:0px; padding-top: 0px;">
            <td style="width: 50%;  border: 1px solid black;  ">
                <div style="width:90%; padding: 4px">
                        <span>
                        Immatriculation/ reg. Number:
                    </span>
                        <span style="color: gray;" th:utext="${v.carteGrise.numImmatriculation}"></span> <br/>
                        <span class="text-left font-weight-bold">
                        Marque / Brand:
                    </span>
                        <span style="color: gray;" th:utext="${v.carteGrise.vehicule.marqueVehicule.libelle}"></span> <br/>
                        <span class="text-left font-weight-bold">
                        N° chassis / Chassis N° :
                        </span>
                        <span style="color: gray;" th:utext="${v.carteGrise.vehicule.chassis}"></span> <br/>
                        <span class="text-left font-weight-bold">
                         Energie / Energy :
                        </span>
                        <span style="color: gray;" th:utext="${v.carteGrise.vehicule.energie.libelle}"></span> <br/>
                        <span class="text-left font-weight-bold">
                        DMC / Date of first use :
                    </span>
                        <span style="color: gray;"
                              th:utext="${#dates.format(v.carteGrise.vehicule.getDateMiseEnCirculation(), 'dd/MM/yyyy')}"></span>
                        <br/>
                        <span class="text-left font-weight-bold">
                    Kilométrage / Milaege :
                    </span>
                        <span style="color: gray;"
                              th:utext="${#numbers.formatDecimal(v.inspection.kilometrage, 0, 'WHITESPACE', 0, 'POINT')+' Km.'}"></span>
                        <br/>
                        <span class="text-left font-weight-bold">
                         Affectation / Usage :
                    </span>
                        <span style="color: gray;" th:utext="${v.carteGrise.centre_ssdt}"></span> <br/>
                        <span class="text-left font-weight-bold">
                       Propriétaire / Owner:
                    </span>
                        <span style="color: gray;" th:utext="${v.carteGrise.proprietaireVehicule.partenaire.nom +' '+
                                                    v.carteGrise.proprietaireVehicule.partenaire.prenom}"></span><br/>


                </div>
            </td>
            <td style="width: 50%; border: 1px solid black;">
                <div style=" height: 105px; padding: 4px">

                            <span>
                        Client/ Customer:
                    </span>
                        <span style="color: gray;" th:utext="${v.carteGrise.proprietaireVehicule.partenaire.nom +' '+
                                                        v.carteGrise.proprietaireVehicule.partenaire.prenom}">
                    </span><br/>
                        <span class="text-left font-weight-bold">
                        Adresse / Address:
                    </span>
                        <span th:utext="${v.carteGrise.commune}"></span><br/>
                        <span style="margin-left: 150px; color: gray;" th:utext="${v.carteGrise.commune}"></span><br/>
                        <span class="text-left font-weight-bold">
                            Montant payé HT / Amount ex.VAT :
                        </span>
                        <span style="color: gray;"
                              th:utext="${ v.carteGrise.produit.prix!=null ? #numbers.formatDecimal(v.carteGrise.produit.prix, 0, 'WHITESPACE', 0, 'POINT')+' F CFA' : ''}"></span><br/>
                        <span class="text-left font-weight-bold">
                            TVA / VAT :
                        </span> <span th:utext="${tp.valeur!=null ? tp.valeur+' %': ''}" style="color: gray;"></span><br/>
                        <span class="text-left font-weight-bold">
                            Montant payé TTC / Amount inc. VAT:
                        </span><span style="color: gray;"
                                     th:utext="${#numbers.formatDecimal((v.carteGrise.produit.prix + (v.carteGrise.produit.prix * tp.valeur)/100), 0, 'WHITESPACE', 0, 'POINT')+' F CFA' }"></span><br/>


                </div>
            </td>
        </tr>
        <tr>
            <td style=" width: 50%; border: 1px solid black;" rowspan="2">
                <div th:style="${v.process.status} ? 'width:90%; height: 650px; padding: 4px;' : 'width:90%; height: 540px; padding: 4px; '">
                    <div th:if="${#lists.size(defaultsTest)} != 0">
                        <h6 class="font-weight-bold">
                            <p>DEFAUTS SOUSMIS A CONTRE VISITE /<br/>
                                DEFECTS SUBJECT TO COUNTER INSPECTION</p>
                        </h6>
                        <ol class="text-left font-weight-bold">
                            <li th:each="lexique : ${defaultsTest}">
                                <span style="color: gray;" th:text="${lexique.libelle}"> Commande de freins de stationnement: Absence de verrouillage</span>
                            </li>
                        </ol>
                    </div>
                    <div th:if="${#lists.size(v.inspection.lexiques)} != 0">
                        <h6 class="font-weight-bold">
                            <p>DEFAUTS A REPARER DES QUE POSSIBLE /<br/>
                                DEFECTS TO BE REPAIRED AS SOON AS POSSIBLE</p>
                        </h6>
                        <ol class="text-left font-weight-bold">
                            <li th:each="lexique : ${v.inspection.lexiques}">
                                <span style="color: gray;" th:text="${lexique.libelle}"> </span>
                            </li>
                        </ol>
                    </div>
                    <span>	RESULTAT DU CONTROLE/ CONTROLE RESULT: </span>
                    <h2
                            th:utext="${v.process.status} ? 'ACCEPTE / ACCEPTED' : 'REFUSE / REJECTED'"></h2>
                    <p class="text-left font-weight-bold">
                        <span th:utext="${v.process.status} ? 'PROCHAINE VISITE / NEXT VISIT: ' : 'JUSQU\'AU / UNTIL: '"></span>
                        <span style="font-size: 25px;"
                              th:utext="${v.process.status ? #dates.format(controlValidityAt, 'dd/MM/yyyy')
                              : #dates.format(controlDelayAt, 'dd/MM/yyyy')}"></span><br/>
                        NOM et visa du contrôleur /<br/>
                        Operator name and signature: <span style="color: gray;" th:text="${controlleurName}"></span>
                    </p>

                        <img style="height: 150px; width: 150px; float: right;"
                             th:src="@{${v.inspection.signature !=null ? '~/uploaded/signatures/'+v.inspection.signature : null} ?: ''}"/>


                </div>
            </td>
            <td style="width: 50%; border: 1px solid black;">

                <table cellspacing="0">
                    <tr >
                        <td>
                            <div style="height: auto; min-height: 400px; padding: 4px">
                                <div style=" height:auto;">
                                    <h4>
                                        RELEVE DES MESURES/ MEASUREMENT: <br/>
                                    </h4>
                                </div>
                                <div>
                                    <table cellspacing="0" border="1" rules="cols" style="border : none; height:10px; border-collapse: collapse;" th:if="${v.carteGrise.produit.categorieVehicule.type == 'VL'}">
                                        <tr >
                                            <td style="height: 13px; width:120px;
                                border : solid thin; font-size: 9px; padding: 4px">
                                                <span style="font-weight: bold; font-size: 7px; border-spacing: 0px;">SUSPENSION</span>
                                            </td>
                                            <td align="center"
                                                style="width:65px;
                                border: solid thin; font-weight: bold; font-size: 5px;">
                                                Eff AG<br/>LF Eff
                                            </td>
                                            <td align="center" style="font-weight: bold; width:65px;
                                border: solid thin; font-size: 5px;">
                                                Eff AD<br/>Rf Eff
                                            </td>
                                            <td align="center" style="font-weight: bold; width:65px;
                                border: solid thin; font-size: 5px;">
                                                Eff RG<br/>LR Eff
                                            </td>
                                            <td align="center" style=";   font-weight: bold; width:65px;
                                border: solid thin; font-size: 5px;">
                                                Eff RD<br/>RR Eff
                                            </td>
                                            <td align="center" style="  font-weight: bold; width:65px;
                                border: solid thin; font-size: 5px;">
                                                Diss. AV<br/>F Diss.
                                            </td>
                                            <td align="center"
                                                style="  font-weight: bold;  width:65px;
                                border: solid thin; font-size: 5px;">
                                                Diss. AR<br/>R Diss.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border-left: none ;
                                 border-bottom: none ;"></td>
                                            <td align="center"  style="color: gray;"
                                            th:utext="${(typeVehicule=='VL' and r0410 !=null)
                                                    ? #numbers.formatInteger(r0410, 1)+' %' :''}"></td>
                                            <td align="center"  style="color: gray;" th:utext="${ (typeVehicule=='VL' and r0411!=null)
                                            ? #numbers.formatInteger(r0411, 1)+' %' :'' }"></td>
                                            <td align="center" style="color: gray;" th:utext="${ (typeVehicule=='VL' and r0413!=null)
                                            ? #numbers.formatInteger(r0413, 1)+' %' :'' }"></td>
                                            <td align="center" style="color: gray;" th:utext="${ (typeVehicule=='VL' and r0414!=null)
                                            ? #numbers.formatInteger(r0414, 1)+' %' :'' }"></td>
                                            <td align="center" style="color: gray;" th:utext="${ (typeVehicule=='VL' and r0412!=null)
                                            ? #numbers.formatInteger(r0412, 1)+' %' :'' }">5</td>
                                            <td align="center" style="color: gray;" th:utext="${ (typeVehicule=='VL' and r0415!=null)
                                            ? #numbers.formatInteger(r0415, 1)+' %' :'' }">5</td>
                                            <!--td class="text-center"
                                                style="color: gray; border: 1px solid black"
                                                ">
                                            </td>
                                            <td class="text-center"
                                                style="color: gray; border: 1px solid black"
                                                >
                                            </td>
                                            <td class="text-center"
                                                style="color: gray; border: 1px solid black"
                                                th:utext="${ (typeVehicule=='VL'  and result.get('0413')!=null) ? #numbers.formatInteger(result.get('0413'), 1)+' %' :'' }">
                                            </td>
                                            <td class="text-center"
                                                style="color: gray; border: 1px solid black"
                                                th:utext="${ (typeVehicule=='VL'  and result.get('0414')!=null) ? #numbers.formatInteger(result.get('0414'), 1)+' %' :'' }">
                                            </td>
                                            <td class="text-center"
                                                style="color: gray; border: 1px solid black"
                                                th:utext="${ (typeVehicule=='VL' and result.get('0412')!=null) ? #numbers.formatInteger(result.get('0412'), 1)+' %' :'' }">
                                            </td>
                                            <td class="text-center"
                                                style="color: gray; border: 1px solid black"
                                                th:utext="${ (typeVehicule=='VL' and result.get('0415')!=null) ? #numbers.formatInteger(result.get('0415'), 1)+' %' :'' }">
                                            </td-->
                                        </tr>
                                    </table>
                                    <br/>
                                    <table cellspacing="0" border="1" rules="cols" style="width:100%; border : none; height:10px; border-collapse: collapse;">
                                        <tr>
                                            <td style="height: 13px; width:27%;
                                border : solid thin; font-size: 9px;  padding: 4px">
                                                <span style="font-weight: bold; font-size: 7px; border-spacing: 0px;">RIPAGE / SHIFT.</span>
                                            </td>
                                            <td align="center"
                                                style=" width:36%;
                                border: solid thin; font-weight: bold; font-size: 5px;"
                                            >
                                                Ripage avant <br/>Front Deviation
                                            </td>
                                            <td align="center"
                                                style=" width: 36.5%;
                                border: solid thin; font-weight: bold; font-size: 5px;">
                                                Ripage Arrière<br/>Rear Deviation
                                            </td>
                                        </tr>
                                        <tr>
                                            <!--td style="border-left: 0px solid ;
                                             border-bottom: 0px solid ;"></td>

                                            <td class="text-center"
                                                style="color: gray; border: 1px solid black"
                                                th:utext="${result.get('0401') != null ? #strings.replace(result.get('0401'), '.0', '')+' mm/m': ''}">
                                            </td>
                                            <td class="text-center"
                                                style="color: gray; border: 1px solid black"
                                                th:utext="${result.get('0402') != null ? result.get('0402')+' mm/m' : ''}">
                                            </td-->
                                            <td style="border-left: none ;
                                 border-bottom: none ;"></td>
                                            <td align="center" style="color: gray;" th:utext="${ (typeVehicule=='VL' and r0401!=null)
                                            ? #numbers.formatInteger(r0401, 1)+' mm/m' :'' }"></td>
                                            <td align="center" style="color: gray;" th:utext="${ (typeVehicule=='VL' and r0402!=null)
                                            ? #numbers.formatInteger(r0402, 1)+' mm/m' :'' }"></td>
                                        </tr>
                                    </table>
                                    <br/>
                                    <table cellspacing="0" border="1" rules="cols" style="width:100%; border : none; height:10px; border-collapse: collapse;">
                                        <tr>
                                            <td style="height: 13px; width:28%;
                                border : solid thin; font-size: 9px;  padding: 4px">
                                                <span style="font-weight: bold; font-size: 7px; border-spacing: 0px;">POLLUTION</span>
                                            </td>
                                            <td align="center"
                                                style=" width:36%;
                                border: solid thin; font-weight: bold; font-size: 5px;">
                                                Opacité<br/>Opacity
                                            </td>
                                            <td align="center" style="color: gray;" th:utext="${ typeVehicule=='VL' ? (result.get('0509')!=null ? #strings.replace(result.get('0509'), '.0', '')+' m-1': '' ): (result.get('0538')!=null ? #strings.replace(result.get('0538'), '.0', '')+' m-1': '' )}">55 m-1</td>
                                            <!--td class="text-center font-weight-bold"
                                                style="height:5px; width:195px;
                                                border: 1px solid black; color: gray; font-size: 13px;"
                                                >
                                            </td-->
                                        </tr>
                                    </table>
                                    <br/>
                                    <table cellspacing="0" border="1" rules="cols" style="width:100%; border : none; height:10px; border-collapse: collapse;">
                                        <tr>
                                            <td style="height: 13px; width:28%;
                                border : solid thin; font-size: 9px;  padding: 4px">
                                                <span style="font-weight: bold; font-size: 7px; border-spacing: 0px;">PHARES / LAMPS</span>
                                            </td>
                                            <td align="center"
                                                style="  font-weight: bold;  width:65px;
                                border: solid thin; font-size: 5px;">
                                                Feu Crois. gauche<br/>Left Headlamp
                                            </td>
                                            <td align="center"
                                                style="  font-weight: bold;  width:65px;
                                border: solid thin; font-size: 5px;">
                                                Feu Crois. droite<br/>Right Headlamp
                                            </td>

                                        </tr>
                                        <tr>
                                            <td style="border-left: none ;
                                 border-bottom: none ;">
                                            </td>
                                            <td align="center"  style="border-bottom: solid thin;"
                                                th:utext="${result.get('0490')} =='1.0' ? 'Correct': 'Unknow'"></td>
                                            <td align="center"  style=" border-bottom: solid thin;"
                                                th:utext="${result.get('0492')} =='1.0' ? 'Correct': 'Unknow'"></td>
                                        </tr>
                                    </table>
                                    <br/>
                                    <table cellspacing="0" border="1" rules="cols" style="width:100%; border : none; height:10px; border-collapse: collapse;">
                                        <tr>
                                            <td style="height: 13px; width:28%;
                                border : solid thin; font-size: 9px;  padding: 4px">
                                                <span style="font-weight: bold; font-size: 7px; border-spacing: 0px;">FREINS / BRAKES</span>
                                            </td>
                                            <td align="center"
                                                style="  font-weight: bold;  width:36%;
                                border: solid thin; font-size: 5px;">
                                                Eff. Frein de service<br/>Service Brake Eff
                                            </td>
                                            <td align="center"
                                                style="color: gray; width:36%;
                                            " th:utext="${typeVehicule=='VL'
                                                ? (result.get('0446')!=null ? #numbers.formatInteger(r0446, 1)+' %': '' ): (result.get('1000')!=null ? result.get('1000')+' %': '' )}"></td>
                                            <!--td class="text-center"
                                                style="color: gray; border: 1px solid black; width:195px;"
                                                >
                                            </td-->
                                        </tr>
                                        <tr>
                                            <td style="border-left: none ;
                                 border-bottom: 0px ;
                                ">
                                            </td>
                                            <td align="center"
                                                style="  font-weight: bold;
                                border: solid thin; font-size: 5px;">
                                                Eff. Frein de station.<br/> Parking Brake Eff.
                                            </td>
                                            <td align="center" style="color: gray;"
                                                th:utext="${typeVehicule=='VL' ? (result.get('0465')!=null ? #numbers.formatInteger(r0465, 1)+' %': '' ): (r1001!=null ? #numbers.formatInteger(r1001, 1)+' %': '' )}"
                                            ></td>
                                            <!--td class="text-center" style="color: gray;
                                          border: 1px solid black; width:195px;"
                                                >
                                            </td-->
                                        </tr>
                                        <tr>
                                            <td style="border-left: none ;
                                 border-bottom: none ;
                                 border-top: none;
                                "></td>
                                            <td align="center"
                                                style="  font-weight: bold;
                                border: solid thin; font-size: 5px;">
                                                #1 Déséq./ Unbal.
                                            </td>
                                            <td class="text-center"
                                                style="color: gray; border: 1px solid black; height:50px; width:195px;">
                                                <table style="height:100%; width:100%">
                                                    <tr>
                                                        <!--td style="font-size: 10px;" >
                                                            <span ></span><br/>

                                                        </td>
                                                        <td
                                                            >
                                                        </td>
                                                        <td style="font-size: 10px;" th:if="${ typeVehicule=='VL'}">

                                                        </td-->
                                                        <td style="font-size: 10px; width: 43%" th:if="${ typeVehicule=='VL'}">
                                                            <span th:utext="${typeVehicule=='VL' ? (r0430!=null ? #numbers.formatInteger(r0430,1)+' daN': '' ) : ''}"></span>
                                                            <span th:utext="${typeVehicule=='VL' ? (r0421 !=null ? #numbers.formatInteger(r0421,1)+' kg': '' ) : ''}"></span>
                                                        </td>
                                                        <td style="vertical-align: top; width: 14%;"
                                                            th:utext="${ typeVehicule=='VL' ? (r0434 !=null ? #numbers.formatInteger(r0434, 1)+' %': '' ) : (r1002!=null ? #numbers.formatInteger(r1002,1)+' %': '' )}">

                                                        </td>
                                                        <td style="font-size: 10px; width: 43%" th:if="${ typeVehicule=='VL'}">
                                                            <span th:utext="${  typeVehicule=='VL' ? (result.get('0431')!=null ? #numbers.formatInteger(r0431,1)+' daN': '' ) : ''}"></span><br/>
                                                            <span th:utext="${  typeVehicule=='VL' ? (result.get('0420')!=null ? #numbers.formatInteger(r0420,1)+' kg': '' ) : ''}"></span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border-left: none ;
                                 border-bottom: none;
                                 border-top: none">
                                            </td>
                                            <td align="center"
                                                style="  font-weight: bold;
                                border: solid thin; font-size: 5px;">
                                                #2 Déséq./ Unbal.
                                            </td>
                                            <td class="text-center"
                                                style="color: gray; border: 1px solid black; height:50px; width:140px;">
                                                <table style="height:100%; width:100%">
                                                    <tr>
                                                        <!--td>

                                                        </td>

                                                        <td
                                                            >
                                                        </td>

                                                        <td >

                                                        </td-->
                                                        <td  style="font-size: 10px; width: 43%" th:if="${ typeVehicule == 'VL'}">
                                                            <span th:utext="${ typeVehicule=='VL' ? (result.get('0438')!=null ? #numbers.formatInteger(r0438,1)+' daN': '' ) : ''}"></span><br/>
                                                            <span th:utext="${ typeVehicule=='VL' ? (result.get('0424')!=null ? #numbers.formatInteger(r0424, 1)+' kg': '' ) : ''}"></span>
                                                        </td>
                                                        <td style="vertical-align: top; width: 14%;"
                                                            th:utext="${ typeVehicule=='VL' ? (result.get('0442')!=null ? #numbers.formatInteger(r0442, 1)+' %': '' ) : (result.get('1125')!=null ? #numbers.formatInteger(r1125, 1)+' %': '' )}">

                                                        </td>
                                                        <td style="font-size: 10px; width: 43%" th:if="${ typeVehicule == 'VL'}">
                                                            <span th:utext="${ typeVehicule == 'VL' ? (result.get('0439')!=null ? #numbers.formatInteger(r0439,1)+' daN': '' ): ''}"></span><br/>
                                                            <span th:utext="${ typeVehicule == 'VL' ? (result.get('0423')!=null ? #numbers.formatInteger(r0423,1)+' kg': '' ): ''}"></span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
        <tr>
            <td style="border-bottom: none; border-left: none; border-right: none">
                <table style="float: right; margin-right: 20px" >
                    <tr>
                        <td>
                            <div class="col-1">
                                <h3 class="text-left font-weight-bold">

                                </h3>
                            </div>
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <td>

                                    </td>

                                    <td>

                                        <p>
                                            N° PV / SHEET N°: <span th:utext="${v.process.reference}"></span> <br/>
                                        </p>
                                        <p>
                                            CAT. : <span th:utext="${v.carteGrise.produit.description}"></span> <br/>
                                        </p>
                                        <table style="border-collapse: collapse" cellspacing="25">
                                            <tr>
                                                <td align="center">
                                                    <div style="width: 85px; border: 2px solid black">
                                                        <h1>
                                                            <span th:utext="${v.process.status ? #dates.format(controlValidityAt, 'MM'): 'XX'}"></span>
                                                        </h1>
                                                    </div>
                                                    <div class="text-center font-weight-bold">
                                                        <p style="font-size: 6px;">Mois / Month</p>
                                                    </div>
                                                </td>
                                                <td align="center" style="border-top: none; border-bottom: none; width:120px">
                                                    <p>
                                                        <span th:utext="${v.process.status ? v.carteGrise.numImmatriculation: 'XX xxx XX'}"></span>
                                                    </p>
                                                </td>
                                                <td align="center">
                                                    <div style=" width: 85px; border: 2px solid black">
                                                        <h1>
                                                            <span th:utext="${v.process.status ? #dates.format(controlValidityAt, 'yy'): 'XX'}"></span>
                                                        </h1>
                                                    </div>
                                                    <div class="text-center font-weight-bold">
                                                        <p style="font-size: 6px;">Année / Year</p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>


</div>


<footer>
    <center>
        <p><span th:text="${o.nom} + ' - ' +${o.adress} + ' - ' + ${o.tel1}+ '/' + ${o.tel2}"></span></p>
    </center>
</footer>

<div style="page-break-after: always;"></div>

<div align="center" style="height:100%">
    <table cellspacing="10" style="margin-top: 300px; margin-bottom: 300px">
        <tr>
            <td align="center" colspan="2">
                <h3> Véhicule immatriculé /
                    Registered Vehicle : <span th:utext="${v.carteGrise.numImmatriculation}"></span>
                </h3>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <img th:src="${mesurevisuel != null ? (mesurevisuel.image1  != null ? 'data:image/png;base64,'+mesurevisuel.image1: '') : ''}"
                         style="height: 250px; width: 320px;"/>
                </div>
            </td>
            <td>
                <div>
                    <img th:src="${mesurevisuel != null ? (mesurevisuel.image2  != null ? 'data:image/png;base64,'+mesurevisuel.image2: '') : ''}"
                         style="height: 250px; width: 320px;"/>
                </div>
            </td>
        </tr>
        <tr>
            <td align="center" colspan="2">
                <h2>
                    <span> GPS: </span> <span th:utext="${gps}"></span>
                </h2>
            </td>
        </tr>
    </table>
    <div id="watermark">
        <p th:if="${v.process.reference} != null">
            <span th:each="i: ${#numbers.sequence(0, 133)}" th:text="${v.process.reference}+'. '"></span>
        </p>
    </div>

</div>
<footer>
    <center>
        <p><span th:text="${o.nom} + ' - ' +${o.adress} + ' - ' + ${o.tel1}+ '/' + ${o.tel2}"></span></p>
    </center>
</footer>
</body>
</html>

